td, th {
    border: 2px solid black;
    padding: 8px; /* Espacement interne pour une meilleure lisibilité */
}

table {
    border-collapse: collapse; /* Pour fusionner les bordures des cellules */
    margin: auto; /* Centrer le tableau sur la page */
    vertical-align: center;
    text-align: center;
}

form {
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 2px solid black;
}

input {
    padding: 5px;
    border: 1px solid black;
}

fieldset {
    background-color: #BAC9CE;
}

legend {
    background-color: white;
}